.svgContainer {
  text-align: center;
  height: 18px;
  .svgIcon {
    height: 18px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
  }
}
