.content {
  height: calc(99vh);
  width: 100vw;
}
.content .listInfoContainer {
  width: 100%;
  margin-top: -1rem;
  box-sizing: border-box;
}
.content .listInfoContainerBg {
  height: 4rem;
  width: 100%;
  filter: blur(20px);
  position: absolute;
  z-index: -1;
}
.content .listInfoContainer .listInfo {
  padding: 1.2rem 0.4rem 0.4rem;
  display: flex;
  font-size: 0.32rem;
  color: #fff;
}
.content .listInfoContainer .listInfoBg {
  width: 2rem;
  height: 2rem;
}
.content .listInfoContainer .listInfoText {
  margin-left: 0.4rem;
  margin-top: 0.4rem;
  font-weight: 700;
}
.content .listInfoContainer .listAction {
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
}
.content .scrollContainer {
  height: calc(94.5vh);
}
.content .scrollContainer .listContainer {
  padding: 0 0.2rem;
}
.content .scrollContainer .listContainerItem {
  display: flex;
  align-items: center;
  font-size: 0.32rem;
  position: relative;
}
.content .scrollContainer .listContainerItemInfo {
  margin-left: 0.8rem;
  color: #ccc;
  font-size: 0.24rem;
}
.content .scrollContainer .listContainerItemInfoSigner {
  color: #000;
  font-size: 0.32rem;
}
.content .scrollContainer .listContainerItem:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  transform: scaleY(0.5);
  content: "";
  background-color: #eee;
}
.content .listFooter {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1rem;
  background-color: #fff;
  line-height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 0.2rem;
}
.content .listFooterBtn {
  border: none;
  background-color: #d44439;
  outline: none;
  color: #fff;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0.32rem;
  width: 2rem;
  z-index: 3;
}
