@import "../../assets/less/global.less";

.content {
  .header {
    background-color: @mainBgColor;
    color: #fff;
    div:nth-child(2) {
      color: #fff;
    }
  }
  .item {
    height: calc(100vh - 1rem);
  }
}
