.content {
  height: 100vh;
}
.content .bg {
  height: calc(99%);
  width: 100%;
  box-sizing: border-box;
  background: url("http://p2.music.126.net/7H3R_hFWpcqsYHqKpjIKGg==/109951164371661836.jpg") no-repeat center center;
  background-size: 100% 100%;
  filter: blur(40px);
  position: absolute;
  z-index: -1;
}
.content .playerContainer {
  height: calc(99%);
  box-sizing: border-box;
  padding-top: 1rem;
}
.content .playerContainer .pic {
  background: url("http://p2.music.126.net/7H3R_hFWpcqsYHqKpjIKGg==/109951164371661836.jpg") no-repeat center center;
  background-size: 100% 100%;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 0 auto;
  animation: rotation 20s linear infinite;
  -moz-animation: rotation 20s linear infinite;
  -webkit-animation: rotation 20s linear infinite;
  -o-animation: rotation 20s linear infinite;
}
@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.content .playerContainer .controlContainer .timeLineContainer {
  height: 0.1rem;
  background-color: #f00;
  position: fixed;
  bottom: 3.2rem;
  left: 0.1rem;
  right: 0.1rem;
  border-radius: 5px;
  overflow-x: hidden;
}
.content .playerContainer .controlContainer .timeLineContainer .timeLine {
  width: 100%;
  height: 0.1rem;
  border-radius: 5px;
  background-color: #ccc;
  animation: growing 20s linear paused;
}
@keyframes growing {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.content .playerContainer .controlContainer .playTime {
  position: fixed;
  bottom: 2.5rem;
  left: 0;
  right: 0;
  height: 0.5rem;
  line-height: 0.5rem;
  margin: 0;
  font-size: 0.32rem;
  text-align: center;
}
.content .playerContainer .controlContainer .control {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  margin: 0.5rem 0;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
